[Desktop Entry]
Name=Mutercim
Exec=mutercim
Icon=/usr/share/icons/hicolor/256x256/apps/translation.png
Type=Application
Terminal=false
Categories=Utility;
